{{template "base" .}}

{{define "title"}}Youtube-to-MP3 | {{.FileName}}{{end}}

{{define "extra_heading"}}
  <meta property="og:title" content="Youtube-to-MP3 | {{.FileName}}" />
  <meta property="og:image" content="{{.ImageUrl}}" />
{{end}}

{{define "content"}}
<figure>
  <div>
    <figcaption class="mb-2">Listen to <strong>{{.FileName}}</strong></figcaption>
    <audio controls src="/media/{{.FileName}}/"></audio>
  </div>
  <div class="mb-3">
    <a href="/media/{{.FileName}}/" target="_blank">Download MP3 </a>
  </div>
  <img src="{{.ImageUrl}}" style="max-width: 100%;" />
</figure> 
{{end}}
