<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    html {
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }

    form div + div {
      margin-top: 4px;
    }
  </style>
  <title>Youtube-to-MP3</title>
</head>
<body>
  <h1>Youtube-to-MP3</h1>

  <form method="post" action="/download">
    <div>
      <label for="url">URL</label>
      <input type="url" name="url" />
    </div>
    <div>
      <input type="submit" value="Download" />
    </div>
  </form>
</body>
</html>
